body{
    background: url("assets\media\plateia.jpg");
    color: white;
    height: 1000px;
    padding: 100px 0 0 0;
    background-repeat: repeat;
   background-position-x: center;
    }
h4 {
 color: #f7b32b;
 font-family: 'Comic Neue', cursive;
}
p {
 color: red;
}
dev {
   color: #f7b32b;
   font-family: 'Comic Neue', cursive;
}
h5 {
 color: #f7b32b;
 font-family: 'Comic Neue', cursive;
}
a {
   color: #f7b32b;
}
a:hover {
   color: #FCF6B1;
}

.container {
   display: flex;
   flex-wrap: wrap;
}
.video {
   flex-basis: 50%;
   box-sizing: border-box;
   padding: 0 10px;
}
iframe {
   width: 100%;
   height: 100%;
   border: none;
}
@media (max-width: 768px) {
   .video {
      flex-basis: 100%;
   }
}

footer {
 background-color: #2d1e2f;
 padding: 20px;
 text-align: center;
 font-size: 14px;
 color: #f7b32b;
 font-family: 'Comic Neue', cursive;
}

footer p {
 margin: 0;
 color: #f7b32b;
}

footer a {
 color: #f7b32b;
 text-decoration: none;
 font-family: 'Orbitron', regular;

}