h4 {
   color: #f7b32b;
   font-family: 'Comic Neue', cursive;
}


dev {
   color: #f7b32b;
   font-family: 'Comic Neue', cursive;
}

h5 {
   color: #f7b32b;
   font-family: 'Comic Neue', cursive;
}

a {
   color: #f7b32b;
}

a:hover {
   color: #FCF6B1;
}

.container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.video {
   flex-basis: 50%;
   box-sizing: border-box;
   padding: 0 10px;
}

iframe {
   width: 100%;
   height: 200%;
   border: none;
}

@media (max-width: 500px) {
   .video {
      flex-basis: 100%;
   }
}

footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #2d1e2f;
   padding: 10px;
   text-align: center;
   font-size: 14px;
   color: #f7b32b;
   font-family: 'Comic Neue', cursive;
}

footer p {
   margin: 0;
   color: #f7b32b;
}

footer a {
   color: #f7b32b;
   text-decoration: none;
   font-family: 'Orbitron', regular;

}

nav{
   font-family: 'Comic Neue', cursive;
   color: #2d1e2f;
}

